{% extends "admin/base.html" %}{% load static %}{% block title %}{{ title }} · Vigilant Sphere{% endblock %}{% block extrastyle %}{{ block.super }}<script src="{% static 'js/theme-init.js' %}"></script><link rel="stylesheet" href="{% static 'css/theme.css' %}"><link rel="stylesheet" href="{% static 'css/components.css' %}"><script src="{% static 'js/app.js' %}" defer></script>{% endblock %}{% block dark-mode-vars %}{% endblock %}{% block branding %}<a href="{% url 'dashboard' %}">Vigilant Sphere administration</a>{% include "components/theme_control.html" %}{% endblock %}{% block usertools %}{{ block.super }}{% endblock %}
{% block bodyclass %}{{ block.super }} vs-admin{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}
